<% if @tweet.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul><>
<% end %>

<%= form_for @tweet, url: {action: :create} do |f| %>
  <%= f.label :message, 'message' %> 
  <%= f.text_field :message %> 
  <%= f.submit 'ツイートする' %>
<% end %>