<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% @users.each do |e| %>
  <p>
    <%= e.uid %>
    <%= e.pass %>
    <%= link_to '削除', user_path(e), method: :delete %>
    </p>
<% end %>

<p>
  <%= link_to '新規ユーザ追加', new_user_path %>
</p>

<p>
  <%= link_to 'ツイート一覧', tweets_path %>
</p>